body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    line-height: 30px;
}
.green-color{
    color: green;
}

section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    padding:10px 20px;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 4px 2px;
    font-weight: 700;
    border-radius: 16px;
}
.about-me{
    background-image: url(images/shapes/bg.png);
    background-repeat: no-repeat;
}
.receipie-text{
    text-align: center;
    line-height: 5px;
    margin-bottom: 50px;
    filter: blur(0);
}

footer{
    text-align: center;
    background-color: grey;
    margin-bottom: 0%;
}